* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", san-serif;
  font-size: 17px;
  color: $darkGrey;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $orange;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.6;
}

ul,
ol {
  margin: 0 0 0 1rem;
  padding: 0;

  li {
    margin-bottom: 0.6rem;
    line-height: 1.6;
    ul {
      margin-top: 0.6rem;
    }
  }
}

.page blockquote {
  overflow-wrap: break-word;
  background: #fff;
  margin: 20px 0px;
  padding: 10px 40px 30px;

  &.is-style-default {
    color: $underline;
    font-size: 1.2rem;
  }
}
