$orange: #ff6b6c;
$white: #fff;
$lightGrey: #e8e9e9;
$lightGreyAlt: #f2f2f2;
$midGrey: #263636;
$darkGrey: #1f2e2e;
$midLightGrey: #efeff0;
$lightGreen: #0ed3b1;
$lightBlue: #0092b6;
$hoverBlue: #0083a4;
$lighterBlue: #2fa8c3;
$underline: #0a7a8d;
$error: #a50000;
