.page-header {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $lightGrey;
  padding: 2rem 0;
  position: relative;

  &--no-padding {
    padding: 0;
  }

  &--white {
    background-color: $white;
  }

  &__image {
    grid-column: 1;
    grid-row: 1;
    padding-top: 40px;
    max-height: 500px;
    opacity: 0.4;
    @mixin atMedium {
      padding-top: 65px;
      opacity: 1;
    }
    &::before {
      @mixin atMedium {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(90deg, #fff 33%, rgba(255, 255, 255, 0.5) 43%, transparent 58%);
        width: 100%;
        height: 100%;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      @mixin atMedium {
        padding-left: 250px;
      }
      @mixin atLarge {
        padding-left: 330px;
      }
      @mixin atFull {
        padding-left: 450px;
      }
    }
    &--editor {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: min-content;
      margin-bottom: 100px;
      &-title {
        grid-column: 2/2;
      }
      &-images {
        grid-column: 2/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        div {
          border: 3px solid red;
        }
      }
    }
  }

  &__content {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    padding-top: 60px;
    padding-bottom: 120px;
    text-align: left;

    @mixin atSmall {
    }
    @mixin atMedium {
      padding-top: 85px;
      padding-bottom: 20px;
    }
  }

  &__logo {
    text-align: center;
    grid-row: 1/1;
    z-index: 2;
    position: relative;
    img {
      max-width: 140px;
    }
    @mixin atMedium {
      text-align: left;
      grid-column: 1/1;

      img {
        max-width: 160px;
      }
    }
    &--home {
      img {
        max-width: 140px;
        @mixin atSmall {
          max-width: 180px;
        }
      }
      @mixin atLarge {
        text-align: left;
        grid-column: 1/1;
        width: 30%;
        text-align: center;

        img {
          width: 200px;
          max-width: 200px;
          @mixin atFull {
            width: 250px;
            max-width: 250px;
          }
        }
      }
    }
  }
  &__text {
    grid-column: 1/1;
    grid-row: 2/2;
    z-index: 3;
    @mixin atMedium {
      grid-row: 1/1;
    }
    text-align: center;
    margin: auto;
    text-transform: uppercase;
  }

  &__strapline {
    position: relative;
    text-align: center;
    padding: 20px 5px 15px 5px;
    font-style: italic;
    font-weight: 300;
    color: $lightBlue;
    font-size: 1.8rem;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.9) 60%);
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    @mixin atSmall {
      padding: 20px 20px 15px 20px;
      font-size: 2.2rem;
    }
    @mixin atMedium {
      padding: 30px 20px 15px 20px;
      font-size: 2rem;
      text-align: right;
    }
    @mixin atLarge {
      font-size: 2.6rem;
    }
    @mixin atFull {
      font-size: 2.8rem;
    }
  }
}
