.row {
  @mixin atMedium {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &--gutters {
      column-gap: 5.3%;
    }

    &--gutters-large {
      column-gap: 8%;
    }

    &--gutters-small {
      column-gap: 3.6%;
    }

    &__large-4 {
      grid-column: span 6;
    }
    &__large-1,
    &__large-2,
    &__large-3,
    &__large-5,
    &__large-6,
    &__large-7,
    &__large-8,
    &__large-9,
    &__large-10,
    &__large-11,
    &__large-12 {
      grid-column: span 12;
    }

    &__medium-4 {
      grid-column: span 4;
    }

    &__medium-5 {
      grid-column: span 5;
    }

    &__medium-7 {
      grid-column: span 7;
    }

    &__medium-6 {
      grid-column: span 6;
    }

    &__medium-8 {
      grid-column: span 8;
    }
    &__medium-12 {
      grid-column: span 12;
    }
  }

  @mixin atLarge {
    &__b-margin-until-large {
      margin-bottom: 0;
    }

    &__large-4 {
      grid-column: span 4;
    }

    &__large-6 {
      grid-column: span 6;
    }

    &__large-8 {
      grid-column: span 8;
    }
  }
  /* Begin Equal Height Rules */

  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  &--center-content {
    margin: auto;
  }

  &--b-margin {
    margin-bottom: 2rem;
  }

  &--equal-height-at-large {
    @mixin atLarge {
      & > div {
        display: flex;
      }
    }
  }
}
