.site-header {
  background-color: $darkGrey;
  width: 100%;
  position: fixed;
  padding: 20px 0;
  z-index: 200;

  &--moves {
    position: relative;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $white;
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
    }
    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $white;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: $white;
      transition: transform 0.3s ease-out;
      transform-origin: 0 100%;
    }

    &__--close-x {
      &::before {
        transform: rotate(45deg) scaleX(1.25);
      }

      .site-header__menu-icon__middle {
        opacity: 0;
        transform: scaleX(0);
      }

      &::after {
        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
      }
    }
    @mixin atMedium {
      display: none;
    }
  }

  &__menu-content {
    flex: 1;
    display: none;
    width: 100%;
    top: 40px;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
    background: $lightGrey;
    @mixin atMedium {
      display: flex;
      top: 0;
      z-index: 200;
      opacity: 1;
      background: none;
    }

    &--is-visible {
      opacity: 1;
      display: block;
      height: auto;
      z-index: 20;
      position: fixed;
    }
  }

  &__social-links {
    width: 100%;
    padding: 20px 30px;
    text-align: center;

    a {
      padding: 0 20px 20px;
    }
    @mixin atMedium {
      flex: 1;
      margin: auto;
      padding: 0;
      text-align: right;
      a {
        padding: 0 0 0 25px;
      }
    }
  }
}
